:root {
   --fondo-oscuro: rgba(36, 37, 38, 255);
   --fondo-oscuro-claro: rgb(58, 59, 60);
   --letra-blanca: white;
   --azul-seleccion: rgb(45, 136, 255);
}

.bg-dark-custom {
   background-color: var(--fondo-oscuro);
}

.bg-dark-custom2 {
   background-color: var(--fondo-oscuro-claro);
   width: 180px;
}

.tamaño {
   width: 200px !important;
}

.buscador {
   background-color: transparent !important;
   border: 0 !important;
   color: var(--letra-blanca) !important;
}

.buscador::placeholder {
   color: var(--letra-blanca) !important;
}

.iconos {
   color: var(--letra-blanca);
}

a:target, a:focus {
   color: var(--azul-seleccion) !important;
}

ul {
   list-style: none;
}