nav ul {
    list-style: none;
    display: flex;
    gap: 50px;
    margin-left: 80px;
    font-size: 1.3rem;
}

nav ul li a {
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
    display: inline-block;
    text-decoration: none;
    color: white;

    &:hover {
        transform: scale(1.3);
    }

    &:focus {
        color: $rojo-claro;
        font-weight: 800;
    }
}

.cards .card {
    background-color: $color-claro;
    width: 30%;
    @include flexCenter;
    border-radius: 20px;
    box-shadow: 3px 3px 5px 0px $rojo-claro;
}

.cards .card-img {
    width: 90%;
    padding: 1rem;
}

.cards img {
    width: 100%;
    border-radius: 30px;
    object-fit: cover;
    height: 150px;
}

.cards figcaption {
    text-align: center;
    margin-top: -1rem;
    font-size: 1.1rem;
    font-weight: 600;
}