@import url('https://fonts.googleapis.com/css2?family=Lato&family=Prata&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Prata", serif;
    height: 100vh;
    display: flex;
    background-color: rgb(186, 163, 163);
}

.grid {
    background-color: #fff;
    height: 90vh;
    width: 90%;
    max-width: 1200px;
    margin: auto;
    box-shadow: 0 0 30px 10px grey;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(6, 1fr);
}

.grid::before {
    content: "";
    background-image: url(ftos/garden.jpg);
    background-size: cover;
    grid-column: 4/-1;
    grid-row: 1/-1;
    background-position: right top;
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    animation: show 2s 3s ease-out forwards;
}

@keyframes show {
    to {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }
}

.grid__title {
    font-size: 3.5rem;
}

.grid__texts {
    grid-row: 2/-2;
    grid-column: 2/8;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transform: translate(50%);
    animation: show 2s forwards, mov 1s 2s forwards;
}


@keyframes mov {
    to {
        transform: translate(0);
    }
}

.grid__title--transform {
    font-family: Playfair;
    font-size: 2.5rem;
    transform: translate(19%);

    animation: mov 1s 2s forwards;

}



















/*/