* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.cont {
    outline: 2px solid crimson;
    height: 800px;
    width: 90%;
    margin: 60px auto;
    background-color: rgb(169, 41, 41);
    overflow: hidden;
}

.spidy {
    margin-left: 600px;
    transform: translateY(-120px);
    transition: transform 1.5s ease-in-out;
}

.cont:hover .spidy {
    transform: translateY(0);
}